@media (max-width: 299.5px) {
    html { display: none;}
 }





@media (min-width: 300px) and (max-width:  556.5px) {
    body,html {
        padding: 0;
        margin: 0;
    }
    html {
        overflow-y: scroll;
    }
    body {
        background: #2f3946;
        font-family: Tahoma, Geneva, sans-serif;
    }

    hr {
        margin: 20px auto;
        color: rgb(95, 95, 95);
        width: 200px;
        size: 1px;
        border-radius: 10px;
        
    }

    .icon-32 {
        width: 32px;
        height: 32px;
        border-radius: 7px;
    }
    .icon-24 {
        width: 24px;
        height: 24px;
        margin: 0px 3px;
    }
    .icon-16 {
        width: 16px;
        height: 16px;
    }
    .icon-64 {
        width: 40px;
        height:  40px;
        border-radius: 8px;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        /* box-shadow: 3px 2px 4px rgb(97, 97, 97); */
    }
    /* .icon-64:hover {

        box-shadow: 3px 2px 4px #cc7b1e;
    } */

    #wrapper {
        width: 100%;
        margin: 0 auto;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    #header {
        background: #252d38;
    }
    #header__content {
        width: 100%;
        background: #252d38;
        color: #A79258;
        padding: 15px 0;
        margin-bottom: 10px;
    }
    #header__content > #wrapper {
        display: flex;
        justify-content: center;
        text-align: center;
        cursor: pointer;
    }
   .button_menu {
        border: 1px solid #A79258;
        margin: 0 3px;
        padding: 6px 7px;
        font-weight: 800;
        font-size: 10px;
        white-space: nowrap;
    }
    .button_menu:hover {
        color: #cc7b1e;
        border: 2px solid #cc7b1e;
    }
    .button_menu::after {
        color: #f09023;
        border: 2px solid #f09023;
    }
    #header__content > #status {
        position: relative;
        width: 120px;
        z-index: 10;
        float: left;
    }
    #lenta {
        background: #7a7a7a;
        width: 100%;
        border-top: 2px solid #000;
        border-bottom: 2px solid #000;
        height: 70px;
        margin-bottom: 40px;
    }
    #content > div {
        display: block;
         /* justify-content: center;  */
    }
    #content > h2 {
        font-size: 28px;
        color:#f2b579;
        letter-spacing: 7px;
    }
    #content {
        width: 100%;
    }
    #footer > h2 {
        font-size: 19px;
        color:#f2b579;
        letter-spacing: 4px;
    }

    #footer {
        /* display: none; */
        width: 100%;
        min-height: 90px;
        /* padding: 30px; */
        margin-bottom: 30px;

    }
    #urls_mysocial {
        display: flex;
        justify-content: center;
    }
    #urls_mysocial > a {
        margin: 0 15px;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }



    #avatar__img {
        width: 260px;
        height: auto;
        border: 4px solid rgb(63, 59, 77);
    }

    #avatar__div {
        text-align: center;
    }
    #aboutme__div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        font-size: 20px;
        margin-top: 15px;
    }
    #aboutme__p {
        text-shadow: 1px 2px 2px #000;
        width: 90%;
        /* -webkit-text-stroke: 0.3px #d5c5b3; */
        text-indent: 5%;
        padding: 0 20px;
        text-align: justify;
        color:#e7e5e5;
        margin: 4px 0;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 1px;
        line-height: 1.7;
    }

    .col3 {
        /* float: left; */
        width: 30%;
        text-align: center;
    }
    .cols{
        display: flex;
        justify-content: center;
    }
    .imgItems__skills{
        width: 30px;
        height: 30px;
    }
    .textItems__skills{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        width: 120px;
        height: inherit;
        font-size: 10px;
        font-weight: 600;
        color:#acacac;
    }
    .items__skills{
        display: flex;
        justify-content: center;
        margin: 40px 0;
        height: 30px;
    }
    #skills{
        display: block;
        margin-top: 10vh;
        width: 100%;
    }

    .Items_projects {
        display: flex;
        width: 84%;
        margin: 20px auto;
        min-height: 390px;
        flex-wrap: wrap;
        padding: 20px 15px;
        background: #252d3886;
        border-radius: 20px;
        border: 1px solid  #A79258;
        /* border-top: 1px solid #A79258;
        border-bottom: 1px solid #A79258; */
        /* box-shadow:  5px 4px 4px rgba(0,0,0,0.5); */
    }
    /* .Items_projects:hover {
        box-shadow:  3px 2px 2px #A79258;
    } */
    .Items_projects h2 {
        color: #A79258;
        font-family: Comic Sans MS;
        font-weight: 1200;
        font-size: 27px;
        letter-spacing: 1px;
        margin-bottom: 40px;
    }
    .Items_projects h3 {
        width: 50%;
        margin: 0;
        font-size: 16px;
        color: #b69f5f;
        margin-top: 10px;
    }

    .Img_project_div {
        /* height: inherit; */
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .Previe_project_div {
        width: 100%;
    }
    .Img_project_img {
        cursor: pointer;
        width: 90%;
        height: auto;
        margin: 0 40px;
        margin-bottom: 30px;
        border: 1px solid #A79258;
    }

    .Previe_project_p_description {
        display: none;
        min-height: 100px;
        min-height: 100px;
        width: 93%;
        font-size: 18px;
        text-align: justify;
        text-indent: 8px;
        color: #b69f5f;
        letter-spacing: 1px;

    }
    .Previe_project_urls {
        min-height: 60px;
        font-size: 17px;
        color: #b69f5f;
    }
    .Previe_project_tags {
        min-height: 40px;
        font-size: 20px;
        color: #b69f5f;
        letter-spacing: 1px;
        font-family: Comic Sans MS;
        font-weight: bold;
    }
    .urls_previe_icon {
        width: 24px;
        height: 24px;
        margin: 0px 3px;
        color: #b69f5f;
    }
    /* .urls_previe_icon:hover {

        box-shadow:  4px 4px 4px rgba(0,0,0,0.5);
    } */

    #urls_mysocial > a > img {
        box-shadow:  4px 4px 4px rgba(0,0,0,0.3);
    }
    #urls_mysocial > a > img:hover {
        box-shadow:  4px 4px 4px rgba(0,0,0,0.6);
    }

    #skills{
        min-height: 250px;
    }
    #history{
        min-height: 200px;
    }
    #skills > .title > h2 {
        font-size: 20px;
        color:#f2b579;
        letter-spacing: 4px;
    }
    #history > .title > h2 {
        font-size: 20px;
        color:#f2b579;
        letter-spacing: 7px;
    }
    #h2-project-name-top {
        width: 100%;
        display: block;
    }
    #h2-project-name-bottom {
        display: none;
    }
    #content__MyWorks {
        display: flex;
        flex-wrap: wrap;
    }
    .Previe_project_DopInfo {
        display: flex;
        width: 100%;
    }
    .Previe_project_DopInfo h3 {
        width: 50%;
        font-size: 14px;
    }
    #Avatar__Header {
        margin-left: 7px;
    }
    #Avatar__Header img{
        width: 30px;
        height: 30px;
        border-radius: 35px;
        padding: 1px;
        border: 1px solid #A79258;
    }
    #header {
        width: 100%;
        background: #252d38;
    }
    html::-webkit-scrollbar {
        width: 7px;
        background-color: #f9f9fd;
      }
      
      html::-webkit-scrollbar-thumb {
        border-radius: 0px;
        background-color: #222933;
      }
      
      html::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
        background-color: #f9f9fd;
      }
}
















































@media (min-width: 557px) and (max-width: 991.5px) { 
    body,html {
        padding: 0;
        margin: 0;
    }
    html {
        overflow-y: scroll;
    }
    body {
        background: #2f3946;
        font-family: Tahoma, Geneva, sans-serif;
    }

    hr {
        margin: 40px auto;
        color: rgb(95, 95, 95);
        width: 300px;
        size: 1px;
        border-radius: 10px;
        
    }

    .icon-32 {
        width: 32px;
        height: 32px;
        border-radius: 7px;
    }
    .icon-24 {
        width: 24px;
        height: 24px;
        margin: 0px 3px;
    }
    .icon-16 {
        width: 16px;
        height: 16px;
    }
    .icon-64 {
        width: 48px;
        height: 48px;
        border-radius: 13px;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        /* box-shadow: 3px 2px 4px rgb(97, 97, 97); */
    }
    /* .icon-64:hover {

        box-shadow: 3px 2px 4px #cc7b1e;
    } */

    #wrapper {
        width: 100%;
        margin: 0 auto;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    #header__content {
        width: 100%;
        background: #252d38;
        color: #A79258;
        padding: 15px 0;
        margin-bottom: 40px;
    }
    #header__content > #wrapper {
        display: flex;
        justify-content: center;
        text-align: center;
        cursor: pointer;
    }
    .button_menu {
        border: 2px solid #A79258;
        margin: 0 6px;
        padding: 12px 15px;
        font-weight: 800;
        font-size: 17px;
        white-space: nowrap;
    }
    .button_menu:hover {
        color: #cc7b1e;
        border: 2px solid #cc7b1e;
    }
    #header__content > div > div::after {
        color: #f09023;
        border: 2px solid #f09023;
    }
    #header__content > #status {
        position: relative;
        width: 120px;
        z-index: 10;
        float: left;
    }
    #lenta {
        background: #7a7a7a;
        width: 100%;
        border-top: 2px solid #000;
        border-bottom: 2px solid #000;
        height: 70px;
        margin-bottom: 40px;
    }
    #content > div {
        display: block;
        /* justify-content: center; */
    }
    #content > h2 {
        font-size: 28px;
        color:#f2b579;
        letter-spacing: 7px;
    }
    #content {
        width: 100%;
    }
    #footer > h2 {
        font-size: 28px;
        color:#f2b579;
        letter-spacing: 7px;
    }

    #footer {
        padding: 30px;
    }
    #urls_mysocial {
        display: flex;
        justify-content: center;
    }
    #urls_mysocial > a {
        margin: 0 30px;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }



    #avatar__img {
        width: 260px;
        height: auto;
        border: 4px solid rgb(63, 59, 77);
    }

    #avatar__div {
        text-align: center;
    }
    #aboutme__div {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        font-size: 20px;
        margin-top: 30px;
    }
    #aboutme__p {
        justify-content: center;
        text-shadow: 1px 2px 2px #000;
        width: 80%;
        /* -webkit-text-stroke: 0.3px #d5c5b3; */
        text-indent: 5%;
        padding: 0 20px;
        text-align: justify;
        color:#e7e5e5;
        margin: 4px 0;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 1px;
        line-height: 1.7;
    }

    .col3 {
        /* float: left; */
        flex-wrap: wrap;
        width: 26%;
        /* text-align: center; */
    }
    .imgItems__skills{
        width: 50px;
        height: 50px;
    }
    .textItems__skills{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        width: 120px;
        height: inherit;
        font-size: 16px;
        font-weight: 600;
        color:#acacac;
    }
    .items__skills{
        display: flex;
        justify-content: center;
        margin: 40px 0;
        height: 50px;
    }
    #skills{
        display: flex;
        width: 100%;
    }

    .Items_projects {
        display: flex;
        width: 45%;
        margin-top: 10px;
        margin-left: 20px;
        min-height: 390px;
        flex-wrap: wrap;
        padding: 16px 15px;
        background: #252d3886;
        border-radius: 35px;
        border: 1px solid #A79258;
        box-shadow:  5px 4px 4px rgba(0,0,0,0.5);
    }
    /* .Items_projects:hover {
        box-shadow:  3px 2px 2px #A79258;
    } */
    .Items_projects h2 {
        color: #A79258;
        font-family: Comic Sans MS;
        font-weight: 1200;
        font-size: 20px;
        
        margin: 5px 0;
        letter-spacing: 0px;

        min-height: 60px;
    }
    .Items_projects h3 {
        width: 50%;
        margin: 0;
        font-size: 12px;
        color: #b69f5f;
        margin-top: 10px;
    }

    .Img_project_div {
        /* height: inherit; */
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }
    .Previe_project_div {
        width: 100%;
    }
    .Img_project_img {
        cursor: pointer;
        width: 60%;
        height: auto;
        margin: 20px 40px;
        border: 1px solid #A79258;
    }

    .Previe_project_p_description {
        display: none;
        min-height: 100px;
        min-height: 100px;
        width: 93%;
        font-size: 18px;
        text-align: justify;
        text-indent: 8px;
        color: #b69f5f;
        letter-spacing: 1px;

    }
    .Previe_project_urls {
        min-height: 60px;
        font-size: 17px;
        color: #b69f5f;
    }
    .Previe_project_tags {
        min-height: 40px;
        font-size: 20px;
        color: #b69f5f;
        letter-spacing: 1px;
        font-family: Comic Sans MS;
        font-weight: bold;
    }
    .urls_previe_icon {
        width: 24px;
        height: 24px;
        margin: 0px 3px;
        color: #b69f5f;
    }
    /* .urls_previe_icon:hover {

        box-shadow:  4px 4px 4px rgba(0,0,0,0.5);
    } */

    #urls_mysocial > a > img {
        box-shadow:  4px 4px 4px rgba(0,0,0,0.3);
    }
    #urls_mysocial > a > img:hover {
        box-shadow:  4px 4px 4px rgba(0,0,0,0.6);
    }
    #history{
        min-height: 200px;
    }
    .cols{
        display: flex;
        justify-content: center;
    }
    #skills > .title > h2 {
        font-size: 28px;
        color:#f2b579;
        letter-spacing: 7px;
    }
    #history > .title > h2 {
        font-size: 28px;
        color:#f2b579;
        letter-spacing: 7px;
    }
    #h2-project-name-top {
        width: 100%;
        display: block;
    }
    #h2-project-name-bottom {
        display: none;
    }
    #content__MyWorks {
        display: flex;
        flex-wrap: wrap;
    }
    .Previe_project_DopInfo {
        display: flex;
        width: 100%;
    }
    .Previe_project_DopInfo h3 {
        width: 50%;
    }
    #Avatar__Header {
        margin-left: 20px;
    }
    #Avatar__Header img{
        width: 55px;
        height: 55px;
        border-radius: 35px;
        padding: 2px;
        border: 2px solid #A79258;
    }
    #header {
        width: 100%;
        background: #252d38;
    }
    html::-webkit-scrollbar {
        width: 7px;
        background-color: #f9f9fd;
      }
      
      html::-webkit-scrollbar-thumb {
        border-radius: 0px;
        background-color: #222933;
      }
      
      html::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
        background-color: #f9f9fd;
      }
 }






























/* 
@media (min-width: 768px) { 

 } */






















































@media (min-width: 992px)  { 
    body,html {
        padding: 0;
        margin: 0;
    }
    html {
        overflow-y: scroll;
    }
    body {
        background: #2f3946;
        font-family: Tahoma, Geneva, sans-serif;
    }

    hr {
        margin: 40px auto;
        color: rgb(95, 95, 95);
        width: 300px;
        size: 1px;
        border-radius: 10px;
        
    }

    .icon-32 {
        width: 32px;
        height: 32px;
        border-radius: 7px;
    }
    .icon-24 {
        width: 24px;
        height: 24px;
        margin: 0px 3px;
    }
    .icon-16 {
        width: 16px;
        height: 16px;
    }
    .icon-64 {
        width: 48px;
        height: 48px;
        border-radius: 13px;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        /* box-shadow: 3px 2px 4px rgb(97, 97, 97); */
    }
    /* .icon-64:hover {

        box-shadow: 3px 2px 4px #cc7b1e;
    } */

    #wrapper {
        margin: 0 auto;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    #wrapper__content {
        width: 1280px;
        margin: 0 auto;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    #header {
        background: #252d38;
    }
    #header__content {
        width: 1280px;
        background: #252d38;
        color: #A79258;
        padding: 15px 0;
        margin-bottom: 40px;
    }
    #header__content > #wrapper {
        width: inherit;
        display: flex;
        justify-content: center;
        text-align: center;
        cursor: pointer;
        
    }
    .button_menu {
        border: 2px solid #A79258;
        margin: 0 9px;
        padding: 15px;
        font-weight: 800;
        font-size: 26px;
        white-space: nowrap;
    }
    .button_menu:hover {
        color: #cc7b1e;
        border: 2px solid #cc7b1e;
    }
    #header__content > div > div::after {
        color: #f09023;
        border: 2px solid #f09023;
    }
    #header__content > #status {
        position: relative;
        width: 120px;
        z-index: 10;
        float: left;
    }
    #lenta {
        background: #7a7a7a;
        width: 100%;
        border-top: 2px solid #000;
        border-bottom: 2px solid #000;
        height: 70px;
        margin-bottom: 40px;
    }
    #content > div {
        display: flex;
        justify-content: center;
    }
    #content > h2 {
        font-size: 28px;
        color:#f2b579;
        letter-spacing: 7px;
    }
    #footer > h2 {
        font-size: 28px;
        color:#f2b579;
        letter-spacing: 7px;
    }

    #footer {
        width: 1220px;
        padding: 30px;
    }
    #urls_mysocial {
        display: flex;
        justify-content: center;
    }
    #urls_mysocial > a {
        margin: 0 30px;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }



    #avatar__img {
        width: 260px;
        height: auto;
        border: 4px solid rgb(63, 59, 77);
    }

    #avatar__div {
        width: 25%;
        text-align: center;
        margin: 0;
    }
    #aboutme__div {
        width: 50%;
        font-size: 20px;
    }
    #aboutme__p {
        text-shadow: 1px 2px 2px #000;
        /* -webkit-text-stroke: 0.3px #d5c5b3; */
        text-indent: 5%;
        padding: 0 20px;
        text-align: justify;
        color:#e7e5e5;
        margin: 4px 0;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 1px;
        line-height: 1.7;
    }

    .col3 {
        width: 33%;
        text-align: center;
    }
    .imgItems__skills{
        width: 60px;
        height: 60px;
    }
    .textItems__skills{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        width: 120px;
        height: 60px;
        font-size: 17px;
        font-weight: 600;
        color:#acacac;
    }
    .items__skills{
        display: flex;
        justify-content: center;
        margin: 40px 30px;
        height: 80px;
    }
    #skills{
        width: 100%;
        position: relative;
        margin-top: 10vh;
        flex-wrap: wrap;
    }

    .Items_projects {
        width: 27%;
        padding: 15px 22px;
        margin: 20px 15px;
        min-height: 350px;
        
        background: #252d3886;
        border-radius: 35px;
        border: 1px solid #A79258;
        box-shadow:  5px 4px 4px rgba(0,0,0,0.5);
    }
    .Items_projects:hover {
        box-shadow:  5px 4px 4px rgba(0, 0, 0, 0.734);
    }
    .Items_projects h2 {
        color: #A79258;
        font-family: Comic Sans MS;
        font-weight: 1200;
        font-size: 25px;
        letter-spacing: 1px;
        margin: 30px 0;
    }
    .Items_projects h3 {
        width: 50%;
        margin: 0;
        font-size: 16px;
        color: #b69f5f;
        margin-top: 10px;
    }
    /* #content {
        display: flex;
        flex-wrap: wrap;
    } */
    .Img_project_div {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
        height: inherit;
    }
    .Previe_project_div {
        width: 100%;
    }
    .Img_project_img {
        cursor: pointer;
        width: 80%;
        height: auto;
        border: 1px solid #A79258;
    }

    .Previe_project_p_description {
        display: none;
        min-height: 100px;
        min-height: 100px;
        width: 93%;
        font-size: 18px;
        text-align: justify;
        text-indent: 8px;
        color: #b69f5f;
        letter-spacing: 1px;
    }
    .Previe_project_urls {
        min-height: 60px;
        font-size: 17px;
        color: #b69f5f;
    }
    .Previe_project_tags {
        min-height: 40px;
        font-size: 20px;
        color: #b69f5f;
        letter-spacing: 1px;
        font-family: Comic Sans MS;
        font-weight: bold;
    }
    .urls_previe_icon {
        width: 24px;
        height: 24px;
        margin: 0px 3px;
        color: #b69f5f;
    }
    /* .urls_previe_icon:hover {
        box-shadow:  4px 4px 4px rgba(0,0,0,0.5);
    } */

    #urls_mysocial > a > img {
        box-shadow:  4px 4px 4px rgba(0,0,0,0.3);
    }
    #urls_mysocial > a > img:hover {
        box-shadow:  4px 4px 4px rgba(0,0,0,0.6);
    }
    #history{
        min-height: 200px;
        flex-wrap: wrap;
    }
    .cols{
        display: flex;
        justify-content: center;
    }

    #skills > .title > h2 {
        font-size: 28px;
        color:#f2b579;
        letter-spacing: 7px;
    }
    #history > .title > h2 {
        font-size: 28px;
        color:#f2b579;
        letter-spacing: 7px;
    }
    .title {
        width: 100%;
    }
    #h2-project-name-top {
        display: block;
        width: 100%;
    }
    #h2-project-name-bottom {
        display: none;
    }
    #content__MyWorks {
        display: flex;
        flex-wrap: wrap;
    }
    #content__MyWorks h2{
       
    }
    .Previe_project_DopInfo {
        display: flex;
        width: 100%;
    }
    .Previe_project_DopInfo h3 {
        width: 50%;
    }
    #Avatar__Header {
        margin-left: 20px;
    }
    #Avatar__Header img{
        width: 72px;
        height: 72px;
        border-radius: 35px;
        padding: 2px;
        border: 3px solid #A79258; 

        /* border-color: linear-gradient(0deg, rgba(167,146,88,1) 0%, rgba(204,123,30,0.98) 25%, rgba(174,141,77,1) 50%, rgba(200,125,36,1) 75%, rgba(173,142,79,1) 100%); */
        /* background: rgb(167,146,88); */
        /* background: linear-gradient(90deg, rgba(167,146,88,1) 0%, rgba(204,123,30,0.98) 25%, rgba(174,141,77,1) 50%, rgba(200,125,36,1) 75%, rgba(173,142,79,1) 100%); */
    }

    html::-webkit-scrollbar {
        width: 7px;
        background-color: #f9f9fd;
      }
      
      html::-webkit-scrollbar-thumb {
        border-radius: 0px;
        background-color: #222933;
      }
      
      html::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
        background-color: #f9f9fd;
      }
}
















































@media (min-width: 1279px)  {
    body,html {
        padding: 0;
        margin: 0;
    }
    html {
        overflow-y: scroll;
    }
    body {
        background: #2f3946;
        font-family: Tahoma, Geneva, sans-serif;
    }

    hr {
        margin: 40px auto;
        color: rgb(95, 95, 95);
        width: 300px;
        size: 1px;
        border-radius: 10px;
        
    }

    .icon-32 {
        width: 32px;
        height: 32px;
        border-radius: 7px;
    }
    .icon-24 {
        width: 24px;
        height: 24px;
        margin: 0px 3px;
    }
    .icon-16 {
        width: 16px;
        height: 16px;
    }
    .icon-64 {
        width: 48px;
        height: 48px;
        border-radius: 13px;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        /* box-shadow: 3px 2px 4px rgb(97, 97, 97); */
    }
    /* .icon-64:hover {

        box-shadow: 3px 2px 4px #cc7b1e;
    } */

    #wrapper {
        margin: 0 auto;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    #wrapper__content {
        width: 1280px;
        margin: 0 auto;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    #header {
        background: #252d38;
    }
    #header__content {
        width: inherit;
        background: #252d38;
        color: #A79258;
        padding: 15px 0;
        margin-bottom: 40px;
    }
    #header__content > #wrapper {
        width: inherit;
        display: flex;
        justify-content: center;
        text-align: center;
        cursor: pointer;
        
    }
    .button_menu {
        border: 2px solid #A79258;
        margin: 0 9px;
        padding: 15px;
        font-weight: 800;
        font-size: 26px;
        white-space: nowrap;
    }
    .button_menu:hover {
        color: #cc7b1e;
        border: 2px solid #cc7b1e;
    }
    #header__content > div > div::after {
        color: #f09023;
        border: 2px solid #f09023;
    }
    #header__content > #status {
        position: relative;
        width: 120px;
        z-index: 10;
        float: left;
    }
    #lenta {
        background: #7a7a7a;
        width: 100%;
        border-top: 2px solid #000;
        border-bottom: 2px solid #000;
        height: 70px;
        margin-bottom: 40px;
    }
    #content > div {
        display: flex;
        justify-content: center;
    }
    #content > h2 {
        font-size: 28px;
        color:#f2b579;
        letter-spacing: 7px;
    }
    #footer > h2 {
        font-size: 28px;
        color:#f2b579;
        letter-spacing: 7px;
    }

    #footer {
        width: inherit;
        padding: 30px;
    }
    #urls_mysocial {
        display: flex;
        justify-content: center;
    }
    #urls_mysocial > a {
        margin: 0 30px;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }



    #avatar__img {
        width: 260px;
        height: auto;
        border: 4px solid rgb(63, 59, 77);
    }

    #avatar__div {
        width: 30%;
        text-align: center;
        margin: 0;
    }
    #aboutme__div {
        width: 50%;
        font-size: 20px;
    }
    #aboutme__p {
        text-shadow: 1px 2px 2px #000;
        /* -webkit-text-stroke: 0.3px #d5c5b3; */
        text-indent: 5%;
        padding: 0 20px;
        text-align: justify;
        color:#e7e5e5;
        margin: 4px 0;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 1px;
        line-height: 1.7;
    }

    .col3 {
        width: 33%;
        text-align: center;
    }
    .imgItems__skills{
        width: 60px;
        height: 60px;
    }
    .textItems__skills{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        width: 120px;
        height: 60px;
        font-size: 17px;
        font-weight: 600;
        color:#acacac;
    }
    .items__skills{
        display: flex;
        justify-content: center;
        margin: 40px 30px;
        height: 80px;
    }
    #skills{
        width: 100%;
        height: 100vh;
        position: relative;
        margin-top: 10vh;
        flex-wrap: wrap;
    }

    .Items_projects {
        width: 27%;
        padding: 15px 22px;
        margin: 20px 15px;
        min-height: 350px;
        
        background: #252d3886;
        border-radius: 35px;
        border: 1px solid #A79258;
        box-shadow:  5px 4px 4px rgba(0,0,0,0.5);
    }
    .Items_projects:hover {
        box-shadow:  5px 4px 4px rgba(0, 0, 0, 0.734);
    }
    .Items_projects h2 {
        color: #A79258;
        font-family: Comic Sans MS;
        font-weight: 1200;
        font-size: 25px;
        letter-spacing: 1px;
        margin: 30px 0;
    }
    .Items_projects h3 {
        width: 50%;
        margin: 0;
        font-size: 16px;
        color: #b69f5f;
        margin-top: 10px;
    }
    /* #content {
        display: flex;
        flex-wrap: wrap;
    } */
    .Img_project_div {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
        height: inherit;
    }
    .Previe_project_div {
        width: 100%;
    }
    .Img_project_img {
        cursor: pointer;
        width: 80%;
        height: auto;
        border: 1px solid #A79258;
    }

    .Previe_project_p_description {
        display: none;
        min-height: 100px;
        min-height: 100px;
        width: 93%;
        font-size: 18px;
        text-align: justify;
        text-indent: 8px;
        color: #b69f5f;
        letter-spacing: 1px;
    }
    .Previe_project_urls {
        min-height: 60px;
        font-size: 17px;
        color: #b69f5f;
    }
    .Previe_project_tags {
        min-height: 40px;
        font-size: 20px;
        color: #b69f5f;
        letter-spacing: 1px;
        font-family: Comic Sans MS;
        font-weight: bold;
    }
    .urls_previe_icon {
        width: 24px;
        height: 24px;
        margin: 0px 3px;
        color: #b69f5f;
    }
    /* .urls_previe_icon:hover {
        box-shadow:  4px 4px 4px rgba(0,0,0,0.5);
    } */

    #urls_mysocial > a > img {
        box-shadow:  4px 4px 4px rgba(0,0,0,0.3);
    }
    #urls_mysocial > a > img:hover {
        box-shadow:  4px 4px 4px rgba(0,0,0,0.6);
    }
    #history{
        min-height: 70vh;
        flex-wrap: wrap;
    }
    .cols{
        display: flex;
        justify-content: center;
    }

    #skills > .title > h2 {
        font-size: 28px;
        color:#f2b579;
        letter-spacing: 7px;
    }
    #history > .title > h2 {
        font-size: 28px;
        color:#f2b579;
        letter-spacing: 7px;
    }
    .title {
        width: 100%;
    }
    #h2-project-name-top {
        display: block;
        height: 70px;
        width: 100%;
    }
    #h2-project-name-bottom {
        display: none;
    }
    #content__MyWorks {
        display: flex;
        flex-wrap: wrap;
    }
    #content__MyWorks h2{
       
    }
    .Previe_project_DopInfo {
        display: flex;
        width: 100%;
    }
    .Previe_project_DopInfo h3 {
        width: 50%;
    }
    #Avatar__Header {
        margin-left: 20px;
    }
    #Avatar__Header img{
        width: 72px;
        height: 72px;
        border-radius: 35px;
        padding: 2px;
        border: 3px solid #A79258;
        /* transition: 0.5s; */
    }

    html::-webkit-scrollbar {
        width: 7px;
        background-color: #f9f9fd;
      }
      
      html::-webkit-scrollbar-thumb {
        border-radius: 0px;
        background-color: #222933;
      }
      
      html::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
        background-color: #f9f9fd;
      }
    /* #Avatar__Header img:hover {
        transition: 0.5s;
        transform: rotate(360deg);
    } */




    /* Слайдер */
    
    .slider-test{
        width: 50%;
        margin: 0 auto;
        border: 3px solid #626262;
    }
    .slider-test h5 {
        text-shadow: 1px 1px 2px black, 0 0 1em #A79258; /* Параметры тени */
    }
    .slider-test p {
        text-shadow: 1px 1px 2px black, 0 0 1em #A79258; /* Параметры тени */
    }
    .slider-test .carousel-indicators button {
       background-color: #fff;
    }
}

/* @media (min-width: 1200px) { 

}

@media (min-width: 1400px) { 

} */