
            <div id="history">
                <div class="title">
                    <hr color="#666">
                    <h2 align="center">История</h2>
                    <hr color="#666">
                </div>
                <div id="avatar__div"><img src="./media/avatar.png" id="avatar__img"></div>
                <div id="aboutme__div">
                    <p id="aboutme__p">
                            Доброе время суток😊! Меня зовут Артем, мне 19 лет и я студент Череповецкого Государсвенного Университета
                         по профилю "Программная Инженерия"😎.
                    </p>
                    <p id="aboutme__p">
                         Почему я пошёл по этому направлению?🤔 Потому-что IT индустрия
                      сейчас очень перспективная и креативная отрасль,
                     программисты наравне с художниками🎨, писателями📝, музыкантами🎼 творят шедевры🌇,
                      помогающие развиваться другим отраслям и даже создающие новые отрасли.
                </p>
                </div>
            </div>

            <div id="skills" data-aos="zoom-in">
                <!-- <hr color="#666">
                    <h2 align="center">Навыки</h2>
                <hr color="#666"> -->

                <!-- color:rgb(182, 51, 28);
                color:rgb(173, 189, 33);
                color:rgb(71, 160, 71); -->

                <div class="title">
                    <hr color="#666">
                    <h2 align="center">Навыки</h2>
                    <hr color="#666">
                </div>

                <div class="cols">
                    <div class="col3">
                        <div class="items__skills">
                            <img src="./media/logos/html.svg" alt="" class="imgItems__skills">
                            <p class="textItems__skills" style="color:rgb(71, 160, 71);">HTML</p>
                        </div>
                        <div class="items__skills">
                            <img src="./media/logos/css.svg" alt="" class="imgItems__skills">
                            <p class="textItems__skills" style="color:rgb(71, 160, 71);">CSS</p>
                        </div>
                        <div class="items__skills">
                            <img src="./media/logos/javascript.svg" alt="" class="imgItems__skills">
                            <p class="textItems__skills" style="color:rgb(71, 160, 71);">JavaScript</p>
                        </div>
                        <div class="items__skills">
                            <img src="./media/logos/nodejs.svg" alt="" class="imgItems__skills">
                            <p class="textItems__skills" style="color:rgb(173, 189, 33);">Node.js</p>
                        </div>
                    </div>
                

                <div class="col3">
                    <div class="items__skills">
                        <img src="./media/logos/python.svg" alt="" class="imgItems__skills">
                        <p class="textItems__skills" style="color:rgb(71, 160, 71);">Python</p>
                    </div>
                    <div class="items__skills">
                        <img src="./media/logos/c++.svg" alt="" class="imgItems__skills">
                        <p class="textItems__skills" style="color:rgb(173, 189, 33);">C++</p>
                    </div>
                    <div class="items__skills">
                        <img src="./media/logos/csh.svg" alt="" class="imgItems__skills">
                        <p class="textItems__skills" style="color:rgb(173, 189, 33);">C#</p>
                    </div>
                    <div class="items__skills">
                        <img src="./media/logos/SQL.png" alt="" class="imgItems__skills">
                        <p class="textItems__skills" style="color:rgb(71, 160, 71);">SQL</p>
                    </div>
                </div>
                <div class="col3">
                    <div class="items__skills">
                        <img src="./media/logos/unity.svg" alt="" class="imgItems__skills">
                        <p class="textItems__skills" style="color:rgb(173, 189, 33);">Unity</p>
                    </div>
                    <div class="items__skills">
                        <img src="./media/logos/github.svg" alt="" class="imgItems__skills">
                        <p class="textItems__skills" style="color:rgb(71, 160, 71);">GitHub</p>
                    </div>
                    <div class="items__skills">
                        <img src="./media/logos/visual-studio-code.svg" alt="" class="imgItems__skills">
                        <p class="textItems__skills" style="color:rgb(71, 160, 71);">VS code</p>
                    </div>
                    <div class="items__skills">
                        <img src="./media/logos/photoshop.svg" alt="" class="imgItems__skills">
                        <p class="textItems__skills" style="color:rgb(173, 189, 33);">Photoshop</p>
                    </div>
                </div>
            </div>
                
            </div>