<hr color="#666">
    <h2 align="center">Тут пока ничего нет 👨‍💻</h2>
<hr color="#666">


<div class="Items_projects aos-init aos-animate" data-aos="zoom-in"><h2 align="center" id="h2-project-name-top">Рисовашка</h2>
    <div class="Img_project_div">
        <img onclick="ChangePage(0, 0);" src="./Projects/0/imgs/0.png" class="Img_project_img">
    </div>
    
    <div class="Previe_project_div">
        <h2 align="center" id="h2-project-name-bottom">Рисовашка</h2>
        <p class="Previe_project_p_description">«Рисовашка» - это холст для рисования,
            проект создан исключительно в развлекательном характере.</p>
        <div class="Previe_project_urls">Ссылки |
            <a href="https://lumbermaster.github.io/DrawMath/">
                <img onmouseover="ReplaceImage(this, './media/icons/eye-active.svg');" onmouseout="ReplaceImage(this, './media/icons/eye.svg');" src="./media/icons/eye.svg" class="urls_previe_icon"></a>
            <a href="https://github.com/LumberMaster/DrawMath/tree/master/Imgs">
                <img onmouseover="ReplaceImage(this, './media/logos/github-active.svg');" onmouseout="ReplaceImage(this, './media/logos/github.svg');" src="./media/logos/github.svg" class="urls_previe_icon"></a>
        |</div>
        
        <div class="Previe_project_tags">ТЕГИ:
            <img src="./media/logos/html.svg" class="icon-24">
            <img src="./media/logos/css.svg" class="icon-24">
            <img src="./media/logos/javascript.svg" class="icon-24">
            <img src="./media/icons/desktop.svg" class="icon-24">
        </div>
        <div class="Previe_project_DopInfo">
            <h3 align="left">Версия 0.7 Alpha</h3>
            <h3 align="center">29.12.2019</h3>
        </div>
    </div>
</div>